<nav class="navbar">
    <div class="logo">SIGAN</div>
    <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="#">Mapa Nacional</a></li>
        <li><a href="#">Estadísticas</a></li>
        <li><a href="/login" class="btn-login">Registrar mi Finca</a></li>
    </ul>
</nav>