<nav class="navbar">
    <div class="logo">SIGAN</div>
    <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/registro">Registrar Finca</a></li>
        <li><a href="#">Mapa Nacional</a></li>
        <li><a href="#" class="btn-login">Iniciar Sesión</a></li>
    </ul>
</nav>