<nav class="navbar">
    <a href="/" class="logo-container"><img src="/img/logo-sigan.png" alt="SIGAN Logo" class="nav-logo"></a>

    <button class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
    
    <ul class="nav-links" id="nav-list">
        <li><a href="/">Inicio</a></li>
        <li><a href="/mapa-nacional">Mapa Nacional</a></li>

        <% if (locals.usuario) { %>
            <li><a href="/dashboard">Gestión</a></li>
            <li>
                <a href="/auth/logout" class="logout-link">
                    <i class="fa-solid fa-right-from-bracket"></i> Salir
                </a>
            </li>
        <% } else { %>
            <li><a href="/login" class="btn-login">Iniciar Sesión</a></li>
        <% } %>
    </ul>

    <script>
        const menu = document.querySelector('#mobile-menu');
        const menuLinks = document.querySelector('#nav-list');

        if (menu && menuLinks) {
            menu.addEventListener('click', () => {
                menu.classList.toggle('is-active');
                menuLinks.classList.toggle('active');
            });
        }
    </script>
</nav>